@model TPEZANO.Models.Producto;

@{
    ViewData["Title"] = "Detalles del producto";
}

<h1>Ver Detalle del plato</h1>
<div class="container">
    <div class="col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <div class="card-img-actions">
                    <img class="img-responsive" width="200px" src="/img/@Html.DisplayFor(model => model.ImageName)" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>
