@model TPEZANO.Models.Pedido

@{
    ViewData["Title"] = "EDITAR";
}

<h1>EDITAR PEDIDO</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="Total" />
            <input type="hidden" asp-for="pago" />
            <input type="hidden" asp-for="UserID" />


            <div class="form-group">
                <label class="control-label">ESTADO DEL PEDIDO</label>
                
                 <select asp-for="Status" class="form-control" id="Status" Name="Status">
                    <option value="PENDIENTE">PENDIENTE</option>
                    <option value="ENVIADO">ENVIADO</option>
                 </select>
               
                <span aspvalidation-for="Status" class="text-danger"></span>
            </div>
            <br> 

            <div class="form-group">
                <input type="submit" value="GUARDAR CAMBIO" class="btn btn-primary" />
            </div>
        </form>
    </div>
      <a asp-action="Index">RETROCEDER</a>
</div>

<div>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
