@model IEnumerable<TPEZANO.Models.Producto>


@{
    ViewData["Title"] = "Gestion de productos";
}    

<h1>Gestion de productos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>
        <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            
        </tr>
}
    </tbody>
</table>