@model IEnumerable<TPEZANO.Models.Producto>


@{
    ViewData["Title"] = "Gestion de productos";
}    

<h1>Gestion de productos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo producto</a>
</p>
<table class="table">

</table>