@{
    ViewData["Title"] = "";
}
<br>

<h1 class="hola"
    style="font-family: 'Comfortaa', cursive; font-weight: 700;">
    CEVICHERIA
    </h1>

    <div>
        <div id="carouselExampleIdendicators" class="carousel slide"
        data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0"
            class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">

            </div>

        </div>    
        </div>
    </div>

