@charset "UTF-8";

body{

    background-image: url('../img/fondo1.jpg') !important;
    font-family: sans-serif;
}

h1{

    text-align: center;
    color: black;
    font-family: arial;
    font-size: 300px;
}

img.ima{
    text-align: center;
}